## На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
apples = input('Rоличество яблок: ')
apples = int(apples)
oranges = input('Количество апельсинов: ')
oranges = int(oranges)
bananas = input('Количество бананов: ')
bananas = int(bananas)
cucumbers = input('Количество огурцов: ')
cucumbers = int(cucumbers)
pears = input('Количество груш: ')
pears = int(pears)
strawberry = input('Количество кг клубники: ')
strawberry = int(strawberry)
coconuts = input('Количество кокосов: ')
coconuts = int(coconuts)

Rоличество яблок: 67
Количество апельсинов: 87
Количество бананов: 234
Количество огурцов: 456789
Количество груш: 89
Количество кг клубники: 45678
Количество кокосов: 4567

In [2]:
quantity_fruits = apples + oranges + bananas + cucumbers + pears + strawberry + coconuts
print(f'Общее количество фруктов на складе: {quantity_fruits}')

Общее количество фруктов на складе: 507511

## Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты: [100, 125, -90, 345, 655, -1, 0, 200]. Используйте list comprehensions

In [3]:
from random import randrange
expenses = int(input('Задайте количество элементов списка: '))
list1 = [randrange(-1000, 1000) for i in range(expenses)]
print(f'Список с затратами на рекламу: {list1}')
summa = 0

Задайте количество элементов списка: 45
Список с затратами на рекламу: [781, 446, -13, -203, 50, -740, -666, 929, 45, -318, 415, -126, -521, -761, 979, 848, 573, -612, 633, 487, -624, 877, -504, -644, -743, 854, -127, -528, -851, -708, 175, -948, 998, -511, -725, 221, -44, 276, -206, 912, 97, 586, 344, -300, 320]

In [4]:
for i in range(len(list1)):
    if list1[i] >= 0:
        print(list1[i], end=' ')
        summa += list1[i]
print(f'\nСумма затрат: {summa}.')

781 446 50 929 45 415 979 848 573 633 487 877 854 175 998 221 276 912 97 586 344 320
Сумма затрат: 11846.

In [5]:
PositiveNumbers = [list1[i] for i in range(len(list1)) if list1[i] >= 0]
print(f'Положительные затраты: {PositiveNumbers}')

Положительные затраты: [781, 446, 50, 929, 45, 415, 979, 848, 573, 633, 487, 877, 854, 175, 998, 221, 276, 912, 97, 586, 344, 320]

In [6]:
print(f'\nСумма положительных затрат: {sum(PositiveNumbers, 0)}.')

Сумма положительных затрат: 11846.

## Даны два списка.
## Дата покупки
## ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

## Суммы покупок по датам
## [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре. Используйте list comprehensions

In [7]:
listDate = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
listPays = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
listDate, listPays

(['2021-09-14',
  '2021-12-15',
  '2021-09-08',
  '2021-12-05',
  '2021-10-09',
  '2021-09-30',
  '2021-12-22',
  '2021-11-29',
  '2021-12-24',
  '2021-11-26',
  '2021-10-27',
  '2021-12-18',
  '2021-11-09',
  '2021-11-23',
  '2021-09-27',
  '2021-10-02',
  '2021-12-27',
  '2021-09-20',
  '2021-12-13',
  '2021-11-01',
  '2021-11-09',
  '2021-12-06',
  '2021-12-08',
  '2021-10-09',
  '2021-10-31',
  '2021-09-30',
  '2021-11-09',
  '2021-12-13',
  '2021-10-26',
  '2021-12-09'],
 [1270,
  8413,
  9028,
  3703,
  5739,
  4095,
  295,
  4944,
  5723,
  3701,
  4471,
  651,
  7037,
  4274,
  6275,
  4988,
  6930,
  2971,
  6592,
  2004,
  2822,
  519,
  3406,
  2732,
  5015,
  2008,
  316,
  6333,
  5700,
  2887])

In [8]:
summ = 0
for i in range(len(listDate)):
    if listDate[i].split('-')[1] == '11':
        summ += listPays[i]
        print(summ)
# ПОЧЕМУ СЧИТАЕТ ВЕРНО? ВЕДЬ listDate И listSum - НЕЗАВИСИМЫЕ СПИСКИ???

4944
8645
15682
19956
21960
24782
25098

In [9]:
# покупки за ноябрь
purchasesForNovember = sum([listPays[i] for i in range(len(listDate)) if listDate[i].split('-')[1] == '11'])
print(purchasesForNovember)

25098

### 4.2 Найдите выручку компании в зависимости от месяца
### Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
### Используйте аннотирование типов.

In [10]:
# объединяем в словарь через list comprehensions
newDict2 = {listDate[i]: listPays[i] for i in range(len(listDate))}
newDict2

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

In [11]:
# Функция zip() в Python создает итератор, который # объединяет элементы из нескольких источников данных
newDict = dict(zip(listDate, listPays))
print(newDict)

{'2021-09-14': 1270, '2021-12-15': 8413, '2021-09-08': 9028, '2021-12-05': 3703, '2021-10-09': 2732, '2021-09-30': 2008, '2021-12-22': 295, '2021-11-29': 4944, '2021-12-24': 5723, '2021-11-26': 3701, '2021-10-27': 4471, '2021-12-18': 651, '2021-11-09': 316, '2021-11-23': 4274, '2021-09-27': 6275, '2021-10-02': 4988, '2021-12-27': 6930, '2021-09-20': 2971, '2021-12-13': 6333, '2021-11-01': 2004, '2021-12-06': 519, '2021-12-08': 3406, '2021-10-31': 5015, '2021-10-26': 5700, '2021-12-09': 2887}

In [12]:
{print(listDate, listPays) for listDate, listPays in sorted(newDict2.items())}

2021-09-08 9028
2021-09-14 1270
2021-09-20 2971
2021-09-27 6275
2021-09-30 2008
2021-10-02 4988
2021-10-09 2732
2021-10-26 5700
2021-10-27 4471
2021-10-31 5015
2021-11-01 2004
2021-11-09 316
2021-11-23 4274
2021-11-26 3701
2021-11-29 4944
2021-12-05 3703
2021-12-06 519
2021-12-08 3406
2021-12-09 2887
2021-12-13 6333
2021-12-15 8413
2021-12-18 651
2021-12-22 295
2021-12-24 5723
2021-12-27 6930

{None}

In [13]:
sorted_dict = sorted(newDict2.items())
print('Отсортированный словарь: ')
for listDate, listPays in sorted_dict:
    print(listDate, listPays)

Отсортированный словарь:
2021-09-08 9028
2021-09-14 1270
2021-09-20 2971
2021-09-27 6275
2021-09-30 2008
2021-10-02 4988
2021-10-09 2732
2021-10-26 5700
2021-10-27 4471
2021-10-31 5015
2021-11-01 2004
2021-11-09 316
2021-11-23 4274
2021-11-26 3701
2021-11-29 4944
2021-12-05 3703
2021-12-06 519
2021-12-08 3406
2021-12-09 2887
2021-12-13 6333
2021-12-15 8413
2021-12-18 651
2021-12-22 295
2021-12-24 5723
2021-12-27 6930

In [1]:
def total_income(dates: list, pays: list) -> dict:
    monthIncome = {}
    
    for i in range(len(dates)):
        #month = dates[i].split('-')[1]
        if listDate[i].split('-')[1] in total_income.keys():
            total_income[listDate[i].split('-')[1]] += listPays[i]
        else:
            total_income[listDate[i].split('-')[1]] = listPays[i]
    return total_income
total_income(listDate, listPays)

NameError: name 'listDate' is not defined